<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="title">Opțiuni</div>
        <div class="content">
            <form [formGroup]="preferencesForm" autocomplete="off" class="login-form">
                <div class="user-details">
                    <div class="input-box">

                        <span class="details">Opțiunile pentru colegii de cameră</span>
                        <input type="text" formControlName="colleaguesNames" class="form-control" readonly>
                        <br>
                        <span class="details">Opțiunile pentru cămin</span>
                        <input type="text" formControlName="dormitory" class="form-control" readonly>
                        <br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>